<% if @current_user.present? %>

<section>
    <%#
        Grid displaying the reception area. Images:
            - Reception desk
            - Clock
            - Seat (button creates game and takes user to game/new)
    %>
    <div id="reception">
        <div id="reception-desk">
        </div> <!-- div#reception-desk -->

        <div id="clock">
        </div> <!-- div#clock -->

        <%= button_to " ", {action: "create"}, {id: "waiting-chair", title: "Play game"} %>
    </div><!-- div.reception -->

    <p>
        Feeling nervous? Time ticking? Heart rate up? Maybe your palms are as sweaty as mum's spaghetti? Don't stress mate! You’ve made it past the HR hounds...just need to spend a little time brushing up on the old interview questions. You’ve got this!
    </p>
</section>

<section>
    <nav aria-label="Game menu">
        <%= button_to "Impatiently start interview", {action: "create"}, {class: "button button-primary",title: "Play game"} %>
    </nav>
</section>

<% end %>
