<% if @current_user.present? %>

<section>
    <%# 
        Grid displaying the reception area. Images:
            - Reception desk
            - Clock
            - Seat (button creates game and takes user to game/new) 
    %>
    <div id="reception">
        <div id="reception-desk">
        </div> <!-- div#reception-desk -->

        <div id="clock">
        </div> <!-- div#clock -->

        <%= button_to " ", {action: "create"}, {id: "waiting-chair", title: "Play game"} %>
    </div><!-- div.reception -->

    <p>
        Feeling nervous? Time ticking? Heart rate up? Maybe your palms are as sweaty as mum's spaghetti? Don't stress mate! You’ve made it past the HR hounds...just need to spend a little time brushing up on the old interview questions. You’ve got this!
    </p>
</section>

<section>
    <nav aria-label="Game menu" class="main-menu">
        <%= button_to "Impatiently start interview", {action: "create"}, {class: "button button-primary"} %>
        <%= link_to 'View our top employees', games_path, class: "button button-secondary" %>
        <% if @current_user.games.exists?%>
            <%= link_to 'View your Interview History', user_path(@current_user.id), class: "button button-secondary" %>
        <%end%>
    </nav>
</section>

<% end %>

