<article>
    <header>
        <div id= timer></div>
        <blockquote id="answer"></blockquote>
        <h2 id="question" class="page-title"><h2>
    </header>

      <div id= timer></div>

    <section id=questions_clear>
​
        <div id="optionA"></div>
        <div id="optionB"></div>
        <div id="optionC"></div>
        <div id="optionD"></div>
    </section>

    <p id="current_score"></p>
​
</article>




<div id=buttons>
<button type="button" class = move_button id = next>Next question</button>

<button type='button' class = move_button id =finish >Finish Quiz</button>
</div>




<script>
    var game_id = <%= params[:id]%>;

</script>
