<article>
    <header>
        <div id= timer></div>
        <blockquote id="answer"></blockquote>
        <h2 id="question" class="page-title"><h2>
    </header>
    <section>
​
        <div id="optionA"></div>
        <div id="optionB"></div>
        <div id="optionC"></div>
        <div id="optionD"></div>
    </section>
​
</article>




<div id=buttons>
<button type="button" class = move_button id = next>Next question</button>
</div>




<script>
    var game_id = <%= params[:id]%>;
</script>
