



<h1>Games#show</h1>

<div> Current score </div>
<div id=current_score> 0 </div>

<img src="https://tjn-blog-images.s3.amazonaws.com/wp-content/uploads/2017/04/20155740/should-stop-smiling-at-work.jpg" id=animation alt="interviewer">


<ul id = question> </ul>
<input type="checkbox" id="correct">
<ul id = solution> </ul>
<input type="checkbox" id="incorrect">
<ul id = incorrect_a> </ul>
<input type="checkbox" id="incorrect">
<ul id = incorrect_b> </ul>
<input type="checkbox" id="incorrect">
<ul id = incorrect_c> </ul>




<!--
<button type="button" class = move_button id = back>Back</button> -->
<button type="button" class = move_button id = next>Submit</button>



<%# PLACEHOLDER: To view the game over page add /gameover to the end of this url %>


<script>
var game_id = <%= params[:id]%>;
</script>
