/* Stylesheet for our custom CSS */

#game-logo {
    height: 48px;
    margin-bottom: 24px;
}

/* Waiting room (games/new)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#reception {
    margin-top: 10vh;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
    "desk clock"
    "desk chair";
    grid-gap: 4px;
}

#reception-desk {
    background-image:  url(Reception.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    max-width: 640px;
    grid-area: desk;
}

#clock {
    background-image: url(Clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 100px;
    grid-area: clock;
}

#reception > form.button_to {
    background-image: url(StartInterview.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 200px;
    min-width: 200px;
    border: 0;
    padding: 0;
    margin: 0;
    grid-area: chair;
}

#reception > form.button_to:hover {
    background-image: url(StartInterviewHover.svg);
}

#waiting-chair {
    color: var(--primary-dark-color);
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    grid-area: chair;
}


.page-title {
    font-size: 24px;
    font-weight: 500;
}

.main-menu {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
}

.spacer {
    height: 50px;
}

.centering {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
  padding-bottom: 2.5rem;
  margin-left: 17vw;
}

footer {
  position: absolute;
    bottom: 0;
    width: 40vw;
    height: 2.5rem;
    background-color: rgb(1, 22, 39);
}

small {
    color: rgba(255, 255, 255, 0.6);
}

.box-background {
    background-color: white;
    color: var(--primary-dark-color);
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
}
 /* CSS for gameover page ID card overlay */
#security{
  position: relative;
  width: 400px;
  height: 267px;
}
#ID_card{
  width: 100%;
  height: 100%;
}
#profile_image{
  position: absolute;
  bottom: 14px;
  left: 25px;
}
